.App {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px;
  font-size: 20px;
}
.App input {
  display: block;
  margin-top: 5px;
  padding: 15px 0px 10px 0px;
  color: inherit;
  width: 80%;
  padding-left: 20px;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input-section {
  border-bottom: 1px solid darkgrey;
  padding-bottom: 10px;
}

.posts-section {
  margin-top: 30px;
  align-items: center;
}
.post {
  border-bottom: 1px solid grey;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.card-content {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
.img-box {
  padding-right: 30px;
  width: auto;
  flex: 1;
  align-items: end;

}
.nowrap-text p {
  padding: 10px 30px;
}
.ellipsis-text {
  text-overflow: ellipsis;
}
.nowrap-text {
  width: 60%;
  overflow: hidden;
}
.img-box img {
  float: right;
}
